export envprompt=CC-Playground
export cquery_include_dirs="
/home/amos/git/ccutils/
/usr/include
/usr/local/include
"
export CXX=g++
export CXXFLAGS="\
-std=c++1z \
"

for i in $cquery_include_dirs
do
    CXXFLAGS="${CXXFLAGS} -I$i"
done

export LDFLAGS="\
-lpthread \
"
