export envprompt=CC-Playground
export ccls_suffix=$(basename $PWD)
export ccls_cxx_flags="
-std=c++1z
-O2
-DCC_PLAYGROUND
-pthread
"

export ccls_include_dirs="
/home/amos/git/ccutils/
/usr/include
/usr/local/include
"

export CXX=g++
export CXXFLAGS=""
export ccls_multi=0

for i in $ccls_cxx_flags
do
    CXXFLAGS="${CXXFLAGS} $i"
done
for i in $ccls_include_dirs
do
    CXXFLAGS="${CXXFLAGS} -I$i"
done

export cc_ldflags="
-ldl
"

for i in $cc_ldflags
do
    LDFLAGS="${LDFLAGS} $i"
done

export LDFLAGS

export cc_ld_preload
export cc_ld_library_path
