export envprompt=CC-Playground
export ccls_include_dirs="
/home/amos/git/ccutils/
/usr/include
/usr/local/include
"
export CXX=g++
export CXXFLAGS="\
-std=c++1z \
-O2 \
"

export ccls_multi=1

for i in $ccls_include_dirs
do
    CXXFLAGS="${CXXFLAGS} -I$i"
done

export LDFLAGS="\
-lpthread \
"
